/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(98, 0, 192);  
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  /* border-radius: 8px; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);  
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: left;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(98, 0, 192);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(98, 0, 198);
}
.form button:hover {
  background: rgb(113, 25, 198);
}
footer {
  background-color: rgb(232, 10, 137);
  color: #fff;
  padding: 50px;
  text-align: center;
  max-width: 700px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.gray-out {
  opacity: 0.5;
  pointer-events: none;
}
.hide-text p {
  display: none;
}

footer .login-popup {
  display: none;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
footer .footerButton {
  height: 55px;
  width: 100%;    
  box-sizing: border-box;  
  color: #fff;
  font-size: 1rem;
  font-weight: 400;  
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(98, 0, 198);
}
footer .footerButton:hover {
  background: rgb(113, 25, 198);
}

footer .login-popup .footerButton {
  width: 100% !important;
  box-sizing: border-box;
}

#footerSection.gray-out {
  opacity: 0.5;
  pointer-events: none;
}
#footerSection.gray-out .login-popup {
  pointer-events: auto;
  opacity: 1;
}
#footerSection.gray-out .footerButton {
  opacity: 1;
  background-color: rgb(98, 0, 198);
}
.gray-footer {
  background-color: rgb(218, 155, 190); /* Replace with the desired color for the grayed-out footer */
}


/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
